workspace\.metadata*
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/12/90b0a905054e001816d9af40d9573e7c
workspace/.metadata/.plugins/org.eclipse.core.resources/42.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/42.snap
